<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title></title>
    <style>
        .DS_header{
            background:rgb(40,133,202);
            line-height: 44px;
            font-size: 18px;
            text-align: center;
            color: white;
            /*位置坐标+螺丝钉*/
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;

            z-index: 9999;
        }
        .DS_header img{
            width: 10%;
            float: left;
        }
    </style>
</head>
<body>
<header class="DS_header">
    <a href="javascript:history.go(-1)">
        <img src="public/images/back.png">
    </a>
    <span style="font-size: 20px">T9Stadium</span>
</header>
</body>
</html>